<h4>Вітаю, Ви успішно зареєструвались, як волонтер!</h4>
<div>
  <p>Поки що ваш статус: <b>Не верифіковано</b></p>
  <p>Після того, як Ваші документи будуть переглянуті адміністратором і будуть коректними, Ваш акаунт буде
    верифіковано.
    Відразу після цього, Вас буде повідомлено про це за допомогою нового листа.</p>
</div>