<p>Вітаємо <%= @resource.email %>!</p>
<p>Хтось запитав посилання на зміну вашого пароля. Ви можете зробити це за допомогою посилання нижче.</p>
<p><%= link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token), target: "_blank" %></p>
<p>Якщо ви не запитували цього, будь ласка, проігноруйте цей лист.</p>
<p>Ваш пароль не зміниться, доки ви не перейдете за посиланням вище і не створите новий.</p>